<%- include("header.ejs") %>
<%- include("navbar.ejs") %>
<div class="post mt">
  <h1 class="heading" style=" text-align: center;"><%= post.title %></h1>
  <p class="f1rem contentfit"><%= post.compose %></p>
</div>
<%- include("footer.ejs") %>